body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
body,
input,
div,
button,
span,
ul,
li {
  box-sizing: border-box;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dark-mode {
  background-color: #0d0d0d;
  color: #e7e7e7;
}
.light-mode {
  background-color: #fff;
  color: #000;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
nav {
  top: 0px;
  width: 250px;
  height: 100vh;
  color: #000;
  overflow-y: auto;
}
@media (max-width: 1280px) {
  nav {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: -250px;
    transition: all 0.3s;
    z-index: 999;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 50px 1fr 50px;
  }
  nav {
    grid-area: 1/2/4/3;
    position: sticky;
  }
  header {
    grid-area: 1/1/2/2;
  }
  main {
    grid-area: 2/1/3/2;
  }
  footer {
    grid-area: 3/1/4/2;
  }
  .header-menu {
    visibility: hidden;
  }
}

.nav-dark {
  background-color: #fff;
}
.nav-light {
  background-color: gray;
}
.nav-disable {
  display: none;
}
.nav-visible {
  margin-right: 0px;
  transition: all 0.3s;
}
.nav-screen-visible {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: gray;
  opacity: 0.5;
}
header {
  height: 50px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.header-dark {
  background-color: #1e2125;
}
.header-light {
  background-color: #fff;
}
.header-menu,
.header-temp {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title {
  flex: 1;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main > .main-header {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > .main-ads {
  height: 140px;
  background-color: gray;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .main-title {
  height: 24px;
  background-color: #fff;
  padding: 0 10px;
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
}

main > .features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main article {
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: transparent;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-cont {
  width: 120px;
  height: 240px;
}
.article-desc {
  margin-top: 5px;
  font-size: 12px;
}
.article-bold {
  font-weight: 600;
}
.article-red {
  color: red;
}
.article-dark-mode {
  border-bottom: 1px solid #fff;
}
.article-light-mode {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
main article > .post-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
main article > .post-line {
  height: 1px;
  margin: 20px 0;
}
.post-line-dark-mode {
  border-bottom: 1px solid #2b3040;
}
.post-line-light-mode {
  border-bottom: 1px solid #dee2e6;
}

main article > .post-desc {
  font-size: 12px;
  margin: 20px 0;
}
main article > .post-tag {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
}
.tag {
  margin: 2px 2px;
  padding: 2px 2px;
  border-radius: 4px;
}
.tag-dark-mode {
  background-color: #2b3040;
  color: #707686;
}
.tag-light-mode {
  background-color: #1c1e21;
  color: #dadbdd;
}
main article > .post-date {
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

footer {
  height: 65px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-main-tree {
  margin: 10px 10px;
}
.nav-main-tree > div {
  display: inline-block;
  cursor: pointer;
}
.nav-main-tree-plus {
  width: 10px;
  height: 10px;
  background-image: url();
}
.nav-main-tree-minus {
  width: 10px;
  height: 10px;
  background-image: url();
}
.nav-sub-tree {
  margin-left: 24px;
  margin-right: 4px;
  padding-left: 5px;
}
.nav-sub-tree > div {
  margin-top: 3px;
  background-color: #f8f9fa;
  border-radius: 3px;
}
.nav-sub-tree-hidden {
  display: none;
}

.page-list {
  height: 40px;
  width: 280px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.page-list span {
  border: 1px solid gray;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  margin: 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-dark-mode {
  background-color: #1e2125;
}
.page-light-mode {
  color: #fff;
  background-color: gray;
}
